name: Caching dependencies of project
run-name: " Caching dependencies of project @${{github.actor}}, event: ${{github.event_name}}"

on:
    workflow_dispatch:

jobs:
    use-axios:
        runs-on: ${{vars.JOBS_RUNNER}}
        defaults:
            run:
                working-directory: ./
        steps:
            - uses: actions/checkout@v5
            - name: Install npm dependencies
              run: npm install 
              working-directory: ./web-project     
            - name: Display npm details
              run: npm fund
              working-directory: ./web-project  
            - name: Use Axios
              uses: actions/github-script@v6
              with:
                script: |
                  const path = resuire('path');
                  const targetDir = path.join(process.env.GITHUB_WORKSPACE,'web-project');
                  process.chdir(targetDir);
                  console.log('Repertoir actuel:', process.cwd());
                  const axios = require('axios')
                  const res = await axios('https://icanhazdadjoke.com/', { headers: { Accept: 'text/plain' } })
                  console.log(res.data)
              

        