name: Using docker custom entrypoint
run-name: "Using docker custom entrypoint @${{github.actor}}, event: ${{github.event_name}}"
on: 
    push:
jobs:
    custom-entrypoint:
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine3.22
            #image: ghrc.io/owner/image  ## For github registry
            #credentials:
            #    username: "nogaty"
            #    password: "faux-pass"
            env:
                API_URL: some-url.com
            ports:
                - 8087
            #volumes:
            #    - volume_name: /path/in/container
            #    - /path/to/container
            #    - /path/in/host:/path/in/container

            options: --cpus 1

        steps:
            - name: Pull repos
              uses: actions/checkout@v6
            - name: Send a slack message
              uses: docker://technosophos/slack-notify
              env:
                SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
                SLACK_TITLE: From Github Actions running 
                SLACK_MESSAGE: "Actor: by @${{github.actor}}, Event: ${{github.event_name}}"
                SLACK_COLOR: "#723fc4"
            - name: Change permission
              run: |
                chmod +x ./script.sh
              working-directory: ./
            - name: run custom entrypoint
              uses: docker://node:25-alpine3.22
              with:
                entrypoint: ./script.sh
                args: "Custom entrypoint"
