name: Using docker custom entrypoint
run-name: "Using docker custom entrypoint @${{github.actor}}, event: ${{github.event_name}}"
on: 
    push:
jobs:
    custom-entrypoint:
        runs-on: ubuntu-latest
        container:
            image: node:25-alpine3.22
            #image: ghrc.io/owner/image  ## For github registry
            #credentials:
            #    username: "nogaty"
            #    password: "faux-pass"
            env:
                API_URL: some-url.com
            ports:
                - 8087
            #volumes:
            #    - volume_name: /path/in/container
            #    - /path/to/container
            #    - /path/in/host:/path/in/container

            options: --cpus 1

        steps:
            - name: Pull repos
              uses: actions/checkout@v6
            - name: Display all github action context Variables
              run: |
                echo "Actor: ${{ github.actor }}"
                echo "Event Name: ${{ github.event_name }}"
                echo "Job: ${{ github.job }}"
                echo "Ref: ${{ github.ref }}"
                echo "SHA: ${{ github.sha }}"
                echo "Repository: ${{ github.repository }}"
                echo "Repository Owner: ${{ github.repository_owner }}"
                echo "Run ID: ${{ github.run_id }}"
                echo "Run Number: ${{ github.run_number }}"
                echo "Workflow: ${{ github.workflow }}"
                echo "Head Ref: ${{ github.head_ref }}"
                echo "Base Ref: ${{ github.base_ref }}"
                echo "Event Path: ${{ github.event_path }}"
                echo "Action: ${{ github.action }}"
                echo "Action Path: ${{ github.action_path }}"
                echo "Action Status: ${{ github.action_status }}"
                echo "Job Workflow SHA: ${{ github.job_workflow_sha }}"
            - name: Change permission
              run: |
                chmod +x ./script.sh
              working-directory: ./
            - name: run custom entrypoint
              id: custom-entrypoint
              uses: docker://node:25-alpine3.22
              with:
                entrypoint: ./script.sh
                args: "Custom entrypoint"
              continue-on-error: true
            - name: Check status
              if: ${{ steps.custom-entrypoint.outcome == 'failure' }}
              uses: docker://technosophos/slack-notify
              env:
                SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
                SLACK_TITLE: From Github Actions running 
                SLACK_MESSAGE: "Fail pipeline ${{ github.run_id }} ${{ github.workflow }}  Actor: by @${{github.actor}}, Event: ${{github.event_name}}"
                SLACK_COLOR: "#c43f4e"

