name: Utilisation de needs dans jobs
run-name: "Utilisation de needs dans jobs @${{github.actor}}"
on: 
    push:

permissions:
  contents: read  # Juste lire le code, pas le modifier
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Build"
      - run: sleep 30
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 

  test:
    runs-on: ubuntu-24.04
    needs: [build]            # Attend que "build" soit terminé
    steps:
      - run: echo "Test"
      - run: sleep 30
        # Get SHA: curl -s https://api.github.com/repos/actions/checkout/commits/v4 | jq -r .sha
        # Get SHA: curl -s https://api.github.com/repos/actions/setup-python/commits/v6 | jq -r .sha
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      - uses: actions/setup-python@4f41a90a1f38628c7ccc608d05fbafe701bc20ae #v6
        with:
          python-version: '3.13' 

  deploy:
    runs-on: ubuntu-24.04
    needs: [build, test]    # Attend que les deux soient terminés
    steps:
      - run: echo "Deploy"
      - run: sleep 30
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 