name: Reusable Workflow
run-name: "Reusable workflow @${{github.actor}}"
on: 
    workflow_call:
        inputs:
          node-version:
            required: true
            type: string
        secrets:
          my-secret:
            required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f #v6
        with:
          node-version: ${{ inputs.node-version }}
      - name: Affichage du repository
        run: |
            echo "Current directory:"
            pwd
            echo "Listing files in current directory:"
            ls -la .
            echo "Recursive listing of files:"
            ls -R .
            echo "Listing directories:"
            ls -lar ./*
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
      - name: Use secret
        run: echo "My secret is ${{ secrets.my-secret }}"
