name: Reusable Workflow
run-name: "Reusable workflow @${{github.actor}}"
on: 
    workflow_call:
        inputs:
          node-version:
            required: true
            type: string
        secrets:
          my-secret:
            required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ inputs.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
      - name: Use secret
        run: echo "My secret is ${{ secrets.my-secret }}"
