name: Test node-js
on: 
    push

jobs:
    test-nodejs:
        runs-on: ubuntu-latest
        steps:
         - run: node -v 
         - uses: actions/setup-node@v3 
           with:
            node-version: "24"
         - run: node -v 
         - name: test error handling
           run: npm test